<!-- Main Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="hamburger sidenav-trigger" (click)="drawer.toggle()">
      <span>
        <mat-icon>menu</mat-icon>
      </span>
    </button>
    <span>Student Query Discussion Portal</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container [hasBackdrop]="false" class="sidenav-container">
  <mat-sidenav #drawer>
    <mat-list role="list">
      <mat-list-item role="listitem">Student Query Portal</mat-list-item>
      <mat-list-item role="listitem"><a routerLink="/about">About</a></mat-list-item>
      <mat-list-item role="listitem"><a routerLink="/login">Login/Sign Up</a></mat-list-item>
      <mat-list-item role="listitem"><a routerLink="/dashboard">Dashboard</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <!-- All the work will be done here now -->
    
    <router-outlet>

    </router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>